.shutter-wrapper {
    width: 300px;
    height: 600px;
    position: relative;
    overflow: hidden;
}

.shutter {
    position: absolute;
    width: 100%;
    height: 50%;
    background: black;
    z-index: 5;
    animation: shutterMove 2s infinite;
}

.shutter.top {
    top: 0;
}

.shutter.bottom {
    bottom: 0;
}

@keyframes shutterMove {

    0%,
    100% {
        height: 50%;
    }

    50% {
        height: 0%;
    }
}