.spin-cube-wrapper {
    width: 300px;
    height: 600px;
    perspective: 1000px;
}

.cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    animation: spinCube 6s infinite linear;
}

.face {
    position: absolute;
    width: 300px;
    height: 600px;
    background: #fff;
}

.front {
    transform: rotateY(0deg) translateZ(150px);
}

.right {
    transform: rotateY(90deg) translateZ(150px);
}

.back {
    transform: rotateY(180deg) translateZ(150px);
}

.left {
    transform: rotateY(-90deg) translateZ(150px);
}

@keyframes spinCube {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}