.video-shopper {
    width: 300px;
    height: 600px;
    background: #000;
    display: flex;
    flex-direction: column;
}

.shopper-video {
    height: 40%;
    width: 100%;
    object-fit: cover;
}

.shopper-products {
    flex: 1;
    background: white;
}