* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f2f2f2;
}


.builder {
  display: flex;
  height: 100vh;
}


.sidebar {
  width: 260px;
  background-color: #111;
  color: white;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar p {
  margin: 10px 0;
  cursor: pointer;
}


.canvas {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ANIMATIONS */

.ad-root.fade {
  animation: fadeIn 1s ease forwards;
}

.ad-root.slide {
  animation: slideUp 1s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}